@model Turnos.Models.Especialidad

<h4 class="col s12">Especialidad</h4>
<hr/>
<div>
    <form class="col s12" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">

            <div class="input-field col s12">
                <label asp-for="descripcion"></label>
                <input asp-for="descripcion" />
                <span asp-validation-for="descripcion"></span>
            </div>
            
        </div>
        <div class="row">
            <div class="col s6 m6">
                <button class="waves-effect waves-light btn-small" title="Guradar" type="submit">Guardar</button>
            </div>
            <div class="col s6 m6">
                <a class="waves-effect waves-light btn-small" asp-action="Index">Volver</a>
            </div>
        </div>
    </form>
</div>