@* Agremamos la referencia al modelo especialidad IEnumerable(Iterable) *@
@model IEnumerable<Turnos.Models.Especialidad> 

<p>
    <a class="waves-effect waves-light btn-small" title="Agregar nueva Especialidad" asp-action="Create" >Agregar Especialidad</a>
</p>
<table class="responsive-table highlight z-depth-3 blue lighten-5">
    <thead class="blue darken-1 white-text">
        <tr>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
        </tr>
    </thead>
    <tbody>
        @* Aqui colocaremos mas adelante el codigo para mostrar los
            registros de la baae de datos*@

        @* Solo se coloca Model, ya que no es necesario poner Especialidad *@
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    <a class="waves-effect waves-light btn-small blue darken-1" title="Editar Especialidad" asp-action="Edit" asp-route-id="@item.IdEspecialidad">Editar</a> 
                    <a class="waves-effect waves-light btn-small red lighten-1" title="Eliminar Especialidad" asp-action="Delete" asp-route-id="@item.IdEspecialidad">Eliminar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
