@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<!-- Tarjeta 1-->
<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center orange darken-1">
            <i class="material-icons large">medical_services</i>
            <a class="btn-floating halfway-fab waves-effect waves-light blue-grey darken-1" asp-controller="Especialidad" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content grey lighten-1">
            <span class="card-title">Especialidades:</span>
            <p>Aca podras dar de alta nuevas Especialedades, modificarlas y borrarlas. Para ser asignadas a un medico</p>
        </div>
        <div class="card-action blue-grey darken-1">
          <a asp-controller="Especialidad" asp-action="Index">Ver mas</a>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2-->
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image center blue darken-1">
            <i class="material-icons large">masks</i>
            <a class="btn-floating halfway-fab waves-effect waves-light blue-grey darken-1" asp-controller="Medico" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content grey lighten-1">
            <span class="card-title">Medicos:</span>
            <p>Aca podras dar de alta nuevos Medicos, modificar sus datos y relacionarlos con su Especialidad</p>
        </div>
        <div class="card-action blue-grey darken-1">
          <a asp-controller="Medico" asp-action="Index">Ver mas</a>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3-->
    <div class="col s12 m4"> <!-- z: Small m: Medium l:Large-->
      <div class="card">
        <div class="card-image center teal darken-1">
            <i class="material-icons large">assignment_ind</i>
            <a class="btn-floating halfway-fab waves-effect waves-light blue-grey darken-1" asp-controller="Paciente" asp-action="Create"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content grey lighten-1">
            <span class="card-title">Pacientes:</span>
            <p>Aca podras dar de alta nuevos Pacientes, modificar sus datos o borrarlos de la base de datos</p>
        </div>
        <div class="card-action blue-grey darken-1">
          <a asp-controller="Paciente" asp-action="Index">Ver mas</a>
        </div>
      </div>
    </div>
</div>
