@model Turnos.Models.Paciente

<h4 class="col s12">Paciente</h4>
<hr/>
<div class="row">
    <form class="col s12" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <!-- Campo Nombre -->
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre"/>
                <span asp-validation-for="Nombre"></span>
            </div>
            <!-- Campo Apellido -->
            <div class="input-field col s6">
                <label asp-for="Apellido"></label>
                <input asp-for="Apellido"/>
                <span asp-validation-for="Apellido"></span>
            </div>
            <!-- Campo Direccion -->
            <div class="input-field col s12">
                <i class="material-icons prefix">home</i>
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion"/>
                <span asp-validation-for="Direccion"></span>
            </div>
            <!-- Campo Telefono -->
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <label asp-for="Telefono"></label>
                <input asp-for="Telefono"/>
                <span asp-validation-for="Telefono"></span>
            </div>
            <!-- Campo Email -->
            <div class="input-field col s12">
                <i class="material-icons prefix">local_post_office</i>
                <label asp-for="Email"></label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6">
                <button class="waves-effect waves-light btn-small" title="Guardar" type="submit" >Guardar</button>
            </div>
            <div class="col s6 m6">
                <a class="waves-effect waves-light btn-small" title="Volver" asp-action="Index">Volver</a>
            </div>
        </div>     
    </form>
</div>
